/* You can add global styles to this file, and also import other style files */
html,body{
    box-sizing: border-box;
    background-color: rgb(148, 128, 225);
    font-size: 62.5%;
    height: 100%;
}